body {
    padding-top: 50px;
    background: #e2f097;
    color: rgb(252, 252, 252);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    margin: 0 auto 0 auto;
    text-align: left;
}

#header {
    width: 80%;
    height: 85px;
}

#header h1 {
    font-size: 234%;
    float: right;
    color: #fff;
    padding-top: 5px;
}

#header h2 {
    float: right;
    font-size: 20px;
    color: #2658a9;
    width: 400px;
    text-align: right;
    padding: 7% 10% 0 0;
    margin-top: 27px;
    margin-bottom: 24px;
}

#header h1 span.blue-text {
    color: #2658a9;
}

.pink-text {
    color: pink;
}

.container h2 {
    font-size: 33px;
    width: 900px;
}

#header img {
    max-width: 50px;
    margin-top: 10px;
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.progress {
    text-align: center;
    height: 40px;
}

#row div {
    background-color: rgb(16, 16, 34);
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 20px
}

.progress a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding-top: 3px;

}

.progress a:hover {
    color: rgb(224, 236, 115);
    font-size: 19px;
    line-height: 22px;
}

#navbar .btn-group {
    padding: 5px;
    margin-top: 5px;
}

#navbar .btn button {
    padding: 5px;
    margin-top: 5px;
}

.yellow-text {
    color: yellow;
}

#paragraph {
    color: #000;
}

#leftmenu {
    float: left;
    margin-top: 15px;
    background-color: #c3daec;
    color: #000;
    border-radius: 10px;
    padding: 15px 20px 5px 10px;
}

#leftmenu ul {
    list-style: none;
    padding: 0;
}

#leftmenu h3 {
    padding-bottom: 8px;
    border-bottom: blue solid 2px;
    font-size: 16px;
}

#leftmenu ul li {
    list-style: none;
    background-color: #c3daec;
    padding: 15px 0 8px 0;
    border-bottom: #fff dashed 1px;
}

.panel {
    list-style: none;
    background-color: #c3daec;
    padding: 10px 10px 10px 0;
    border-bottom: #fff dashed 1px;
}

.panel-heading {
    list-style: none;
    background-color: #c3daec;
    padding: 3px;
    border-bottom: #fff dashed 1px;
}

.panel-group .panel {
    margin-bottom: -20px;
    border-radius: 4px;
}

.panel-element {
    padding: 8px 8px 8px 20px;
    border-bottom: #9d9d9d dashed 1px;
}

#leftmenu a, #leftmenu a:visited {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #337ab7;
}

#leftmenu a:hover {
    color: #86AEF9;
}

#content {
    display: block;
    width: 64%;
    color: #1c478e;
    margin-top: 3%;
    float: left;
    /*background-color: #fff;*/
    border-radius: 10px;
    border: #1c478e solid 0.5px;
    padding: 10px;
    margin-left: 9%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 16px;
}

.login {
    margin-left: 15%;
    margin-top: 4%;
}

#content h3 {
    font-size: 35px;
    text-align: center;
}

#content h2 {
    font-size: 29px;
    text-align: center;
}

#content h4 {
    font-size: 18px;
    text-align: center;
}

#content button {
    padding: 10px;
    background-color: #cccccc;
    color: #a94442;
}

#content button:hover {
    padding: 10px;
    background-color: #5bc0de;
    color: #222222;
}

.panel-body {
    padding: 20px 20px 20px 70px;
    font-size: 15px;
    line-height: 26px;
}

.textover div {
    height: 500px;
    width: 900px;
    border: 1px solid black;
    padding: 0;
    overflow: auto;
}

.textover p {
    text-indent: 8px;
    height: 500px;
    width: 100%;;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 21%;
}

#condition {
    display: block;
    color: #222222;
    float: left;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: #1c478e solid 5px;
    margin-left: 10%;
    margin-top: 8%;
}

.mySlides {
    display: none;
    width: 100%;
    height: 653px;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: black;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.slider-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.slider-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.btn {
    padding: 14px;
    color: floralwhite;
    background-color: #222222;

}

.btn:hover {
    background-color: black;
    color: #cccccc;
}

#gridContainer {
    padding: 20px;
}

.grid-row > a {
    margin: 0px 5px;
}

.afterlogin {
    text-align: center;
    font-size: 40px;
}

#content span {
    padding: 5px;
    margin-top: 5px;
}

.w3-dropdown-hover a {
    text-decoration: none;
}
.w3-black button:visited{
    border: none;
}
.modal-footer .btn{
    padding: 10px;
}
#tables button{
    color: black;
}
.form-group {
    margin: 20px 0px;
}
#param {
    margin-left: 0;
}
#enter{
    float: left;
    height: 35px;
    max-width: 70px;
    text-align: center;
}
#download{
    float: right;
}