body {
    padding-top: 50px;
    background: #e2f097;
    color: rgb(252, 252, 252);
}
*{
    margin: 0 auto 0 auto;
    text-align:left;
}
#header{
    width: 960px;
    height: 85px;
}
#header h1{
    font-size: 42px;
    float: left;
    color: #fff;
    padding: 10px 20px 0 0;
}
#header h2{
    float: right;
    font-size: 20px;
    color: #2658a9;
    width: 400px;
    text-align: right;
    padding: 40px 20px 0 0;
    margin-top: 5px;
    margin-bottom: 0px;
}
#header h1 span.blue-text{
    color: #2658a9;
}
.pink-text{
     color: pink;
 }
#header img{
    margin-top: 0px;
    max-width: 50px;
    max-height: 50px;
}
.container h2{
    font-size: 33px;
    width: 900px;
}
#header img{
    margin-top: 35px;
    max-width: 50px;
    max-height: 50px;
}
.progress {
    text-align: center;
    border:2px solid #fff;
    height: 40px;
    margin-top: 5px;
}
#row div{
    background-color:rgb(16, 16, 34);
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 20px
}

.progress a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding-top: 3px;

}

.progress a:hover{
    color:rgb(224, 236, 115);
}
#navbar .btn-group{
    padding: 5px;
    margin-top: 5px;
}
#navbar .btn button{
    padding: 5px;
    margin-top: 5px;
}
.yellow-text{
    color: yellow;
}
#paragraph {
    color: #000;
}
#leftmenu{
    float: left;
    margin-top: 15px;
    background-color: #c3daec;
    color: #000;
    border-radius: 10px;
    padding: 15px 20px 5px 10px;
}
#leftmenu ul{
    list-style: none;
    padding: 0;
}
#leftmenu h3{
    padding-bottom: 8px;
    border-bottom: blue solid 2px;
    font-size: 16px;
}
#leftmenu ul li{
    list-style: none;
    padding: 15px 0 8px 0;
    border-bottom: #fff dashed 1px;
}
#leftmenu a, #leftmenu a:visited{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
#leftmenu a:hover{
    color: #86AEF9;
}
#content{
    display: block;
    width: 700px;
    color: #1c478e;
    margin-top: 15px;
    float: left;
    background-color: #fff;
    border-radius: 10px;
    border: #1c478e solid 2px;
    padding: 10px;
    margin-left: 250px;
}
#content h3{
    font-size: 22px;
    text-align: center;
}
#content h4{
    font-size: 18px;
    text-align: center;
}
#content button{
    padding: 10px;
    background-color: #cccccc;
    color: #a94442;
}
#content button:hover{
    padding: 10px;
    background-color: #5bc0de;
    color: #222222;
}
#info-table{
    margin: 20px;
}
#info-table th{
    background-color: #a6e1ec;
    color: #000000;
}
#info-table td{
    background-color: #cccccc;
    color: #000000;
}